# 作業 : (Kaggle)鐵達尼生存預測
***
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [29]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

data_path = 'data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...
861,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [30]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
df['Sex'] = df['Sex'].fillna('None')
mean_df = df.groupby(['Sex'])['Fare'].mean().reset_index()
mode_df = df.groupby(['Sex'])['Fare'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Sex'])['Fare'].median().reset_index()
max_df = df.groupby(['Sex'])['Fare'].max().reset_index()
min_df = df.groupby(['Sex'])['Fare'].min().reset_index()
count_df = df.groupby(['Sex'])['Fare'].agg(['count']).reset_index()
temp = pd.merge(mean_df, mode_df, how='left', on=['Sex'])
temp = pd.merge(temp, median_df, how='left', on=['Sex'])
temp = pd.merge(temp, max_df, how='left', on=['Sex'])
temp = pd.merge(temp, min_df, how='left', on=['Sex'])
temp = pd.merge(temp, count_df, how='left', on=['Sex'])
temp.columns = ['Sex', 'Sex_Fare_Mean', 'Sex_Fare_Mode', 'Sex_Fare_Median', 'Sex_Fare_Max','Sex_Fare_Min','Sex_Fare_Count']
temp

df['Age'] = df['Age'].fillna('None')
mean_df = df.groupby(['Age'])['Fare'].mean().reset_index()
mode_df = df.groupby(['Age'])['Fare'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Age'])['Fare'].median().reset_index()
max_df = df.groupby(['Age'])['Fare'].max().reset_index()
min_df = df.groupby(['Age'])['Fare'].min().reset_index()
count_df = df.groupby(['Age'])['Fare'].agg(['count']).reset_index()
temp2 = pd.merge(mean_df, mode_df, how='left', on=['Age'])
temp2 = pd.merge(temp2, median_df, how='left', on=['Age'])
temp2 = pd.merge(temp2, max_df, how='left', on=['Age'])
temp2 = pd.merge(temp2, min_df, how='left', on=['Age'])
temp2 = pd.merge(temp2, count_df, how='left', on=['Age'])
temp2.columns = ['Age', 'Age_Fare_Mean', 'Age_Fare_Mode', 'Age_Fare_Median', 'Age_Fare_Max','Age_Fare_Min','Age_Fare_Count']
temp2

df = pd.merge(df, temp, how='left', on=['Sex'])
df = df.drop(['Sex'] , axis=1)

df = pd.merge(df, temp2, how='left', on=['Age'])
df = df.drop(['Age'] , axis=1)
df.head()

,Pclass,Name,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Fare_Mean,Sex_Fare_Mode,Sex_Fare_Median,Sex_Fare_Max,Sex_Fare_Min,Sex_Fare_Count,Age_Fare_Mean,Age_Fare_Mode,Age_Fare_Median,Age_Fare_Max,Age_Fare_Min,Age_Fare_Count
0,3,"Braund, Mr. Owen Harris",1,0,A/5 21171,7.2500,NaN,S,25.523893,8.05,10.5,512.3292,0.00,577,25.504781,7.2500,7.89580,151.5500,7.125,27
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0,PC 17599,71.2833,C85,C,44.479818,7.75,23.0,512.3292,6.75,314,62.751509,0.0000,31.38750,227.5250,0.000,11
2,3,"Heikkinen, Miss. Laina",0,0,STON/O2. 3101282,7.9250,NaN,S,44.479818,7.75,23.0,512.3292,6.75,314,19.086806,7.8542,9.58125,78.8500,7.775,18
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0,113803,53.1000,C123,S,44.479818,7.75,23.0,512.3292,6.75,314,89.312500,8.0500,26.14375,512.3292,7.050,18
4,3,"Allen, Mr. William Henry",0,0,373450,8.0500,NaN,S,25.523893,8.05,10.5,512.3292,0.00,577,89.312500,8.0500,26.14375,512.3292,7.050,18

In [31]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

16 Numeric Features : ['Pclass', 'SibSp', 'Parch', 'Fare', 'Sex_Fare_Mean', 'Sex_Fare_Mode', 'Sex_Fare_Median', 'Sex_Fare_Max', 'Sex_Fare_Min', 'Sex_Fare_Count', 'Age_Fare_Mean', 'Age_Fare_Mode', 'Age_Fare_Median', 'Age_Fare_Max', 'Age_Fare_Min', 'Age_Fare_Count']

,Pclass,SibSp,Parch,Fare,Sex_Fare_Mean,Sex_Fare_Mode,Sex_Fare_Median,Sex_Fare_Max,Sex_Fare_Min,Sex_Fare_Count,Age_Fare_Mean,Age_Fare_Mode,Age_Fare_Median,Age_Fare_Max,Age_Fare_Min,Age_Fare_Count
0,3,1,0,7.2500,25.523893,8.05,10.5,512.3292,0.00,577,25.504781,7.2500,7.89580,151.5500,7.125,27
1,1,1,0,71.2833,44.479818,7.75,23.0,512.3292,6.75,314,62.751509,0.0000,31.38750,227.5250,0.000,11
2,3,0,0,7.9250,44.479818,7.75,23.0,512.3292,6.75,314,19.086806,7.8542,9.58125,78.8500,7.775,18
3,1,1,0,53.1000,44.479818,7.75,23.0,512.3292,6.75,314,89.312500,8.0500,26.14375,512.3292,7.050,18
4,3,0,0,8.0500,25.523893,8.05,10.5,512.3292,0.00,577,89.312500,8.0500,26.14375,512.3292,7.050,18

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [34]:
# 原始特徵 + 邏輯斯迴歸
df_minus = df.drop(['Age_Fare_Mean', 'Age_Fare_Mode', 'Age_Fare_Median', 'Age_Fare_Max','Age_Fare_Min','Age_Fare_Count','Sex_Fare_Mean', 'Sex_Fare_Mode', 'Sex_Fare_Median', 'Sex_Fare_Max','Sex_Fare_Min','Sex_Fare_Count'] , axis=1)

train_X = MMEncoder.fit_transform(df_minus)
estimator = LogisticRegression()
print('Origin Feature / LogisticRegression : ',cross_val_score(estimator, train_X, train_Y, cv=5).mean())

# 原始特徵 + 線性迴歸
train_X = MMEncoder.fit_transform(df_minus)
estimator = LinearRegression()
print('Origin Feature / LinearRegression : ',cross_val_score(estimator, train_X, train_Y, cv=5).mean())

Origin Feature / LogisticRegression :  0.6847622178554621
Origin Feature / LinearRegression :  0.10444159488459337

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [38]:
# 新特徵 + 邏輯斯迴歸
print(df)
train_X = MMEncoder.fit_transform(df)
estimator = LogisticRegression()
print('New Feature / LogisticRegression : ',cross_val_score(estimator, train_X, train_Y, cv=5).mean())

     Pclass  SibSp  Parch      Fare  Sex_Fare_Mean  Sex_Fare_Mode  \
0         3      1      0    7.2500      25.523893           8.05
1         1      1      0   71.2833      44.479818           7.75
2         3      0      0    7.9250      44.479818           7.75
3         1      1      0   53.1000      44.479818           7.75
4         3      0      0    8.0500      25.523893           8.05
5         3      0      0    8.4583      25.523893           8.05
6         1      0      0   51.8625      25.523893           8.05
7         3      3      1   21.0750      25.523893           8.05
8         3      0      2   11.1333      44.479818           7.75
9         2      1      0   30.0708      44.479818           7.75
10        3      1      1   16.7000      44.479818           7.75
11        1      0      0   26.5500      44.479818           7.75
12        3      0      0    8.0500      25.523893           8.05
13        3      1      5   31.2750      25.523893           8.05
14        3      0      0    7.8542      44.479818           7.75
15        2      0      0   16.0000      44.479818           7.75
16        3      4      1   29.1250      25.523893           8.05
17        2      0      0   13.0000      25.523893           8.05
18        3      1      0   18.0000      44.479818           7.75
19        3      0      0    7.2250      44.479818           7.75
20        2      0      0   26.0000      25.523893           8.05
21        2      0      0   13.0000      25.523893           8.05
22        3      0      0    8.0292      44.479818           7.75
23        1      0      0   35.5000      25.523893           8.05
24        3      3      1   21.0750      44.479818           7.75
25        3      1      5   31.3875      44.479818           7.75
26        3      0      0    7.2250      25.523893           8.05
27        1      3      2  263.0000      25.523893           8.05
28        3      0      0    7.8792      44.479818           7.75
29        3      0      0    7.8958      25.523893           8.05
..      ...    ...    ...       ...            ...            ...
861       2      1      0   11.5000      25.523893           8.05
862       1      0      0   25.9292      44.479818           7.75
863       3      8      2   69.5500      44.479818           7.75
864       2      0      0   13.0000      25.523893           8.05
865       2      0      0   13.0000      44.479818           7.75
866       2      1      0   13.8583      44.479818           7.75
867       1      0      0   50.4958      25.523893           8.05
868       3      0      0    9.5000      25.523893           8.05
869       3      1      1   11.1333      25.523893           8.05
870       3      0      0    7.8958      25.523893           8.05
871       1      1      1   52.5542      44.479818           7.75
872       1      0      0    5.0000      25.523893           8.05
873       3      0      0    9.0000      25.523893           8.05
874       2      1      0   24.0000      44.479818           7.75
875       3      0      0    7.2250      44.479818           7.75
876       3      0      0    9.8458      25.523893           8.05
877       3      0      0    7.8958      25.523893           8.05
878       3      0      0    7.8958      25.523893           8.05
879       1      0      1   83.1583      44.479818           7.75
880       2      0      1   26.0000      44.479818           7.75
881       3      0      0    7.8958      25.523893           8.05
882       3      0      0   10.5167      44.479818           7.75
883       2      0      0   10.5000      25.523893           8.05
884       3      0      0    7.0500      25.523893           8.05
885       3      0      5   29.1250      44.479818           7.75
886       2      0      0   13.0000      25.523893           8.05
887       1      0      0   30.0000      44.479818           7.75
888       3      1      2   23.4500      44.479818           7.75
889       1      0      0   30.0000      25.523893           8.05
890       3      0      0    7.7500      25.523893           8.05

     Sex_Fare_Median  Sex_Fare_Max  Sex_Fare_Min  Sex_Fare_Count  \
0               10.5      512.3292          0.00             577
1               23.0      512.3292          6.75             314
2               23.0      512.3292          6.75             314
3               23.0      512.3292          6.75             314
4               10.5      512.3292          0.00             577
5               10.5      512.3292          0.00             577
6               10.5      512.3292          0.00             577
7               10.5      512.3292          0.00             577
8               23.0      512.3292          6.75             314
9               23.0      512.3292          6.75             314
10              23.0      512.3292          6.75             314
11              23.0      512.3292          6.75             314
12              10.5      512.3292          0.00             577
13              10.5      512.3292          0.00             577
14              23.0      512.3292          6.75             314
15              23.0      512.3292          6.75             314
16              10.5      512.3292          0.00             577
17              10.5      512.3292          0.00             577
18              23.0      512.3292          6.75             314
19              23.0      512.3292          6.75             314
20              10.5      512.3292          0.00             577
21              10.5      512.3292          0.00             577
22              23.0      512.3292          6.75             314
23              10.5      512.3292          0.00             577
24              23.0      512.3292          6.75             314
25              23.0      512.3292          6.75             314
26              10.5      512.3292          0.00             577
27              10.5      512.3292          0.00             577
28              23.0      512.3292          6.75             314
29              10.5      512.3292          0.00             577
..               ...           ...           ...             ...
861             10.5      512.3292          0.00             577
862             23.0      512.3292          6.75             314
863             23.0      512.3292          6.75             314
864             10.5      512.3292          0.00             577
865             23.0      512.3292          6.75             314
866             23.0      512.3292          6.75             314
867             10.5      512.3292          0.00             577
868             10.5      512.3292          0.00             577
869             10.5      512.3292          0.00             577
870             10.5      512.3292          0.00             577
871             23.0      512.3292          6.75             314
872             10.5      512.3292          0.00             577
873             10.5      512.3292          0.00             577
874             23.0      512.3292          6.75             314
875             23.0      512.3292          6.75             314
876             10.5      512.3292          0.00             577
877             10.5      512.3292          0.00             577
878             10.5      512.3292          0.00             577
879             23.0      512.3292          6.75             314
880             23.0      512.3292          6.75             314
881             10.5      512.3292          0.00             577
882             23.0      512.3292          6.75             314
883             10.5      512.3292          0.00             577
884             10.5      512.3292          0.00             577
885             23.0      512.3292          6.75             314
886             10.5      512.3292          0.00             577
887             23.0      512.3292          6.75             314
888             23.0      512.3292          6.75             314
889             10.5      512.3292          0.00             577
890             10.5      512.3292          0.00             577

     Age_Fare_Mean  Age_Fare_Mode  Age_Fare_Median  Age_Fare_Max  \
0        25.504781         7.2500          7.89580      151.5500
1        62.751509         0.0000         31.38750      227.5250
2        19.086806         7.8542          9.58125       78.8500
3        89.312500         8.0500         26.14375      512.3292
4        89.312500         8.0500         26.14375      512.3292
5        22.158567         7.7500          8.05000      227.5250
6        44.477087        26.0000         38.93125       78.2667
7        37.536250        26.0000         26.95000      151.5500
8        30.361339        13.0000         13.00000      211.5000
9        42.625700         7.8542         34.87915      120.0000
10       29.543330        11.1333         25.45000       81.8583
11       93.901660        26.5500        113.27500      153.4625
12        8.624173         7.8542          8.05000       15.7417
13       36.661900         7.9250         27.56250      110.8833
14       42.625700         7.8542         34.87915      120.0000
15       23.250000        16.0000         23.25000       30.5000
16       37.536250        26.0000         26.95000      151.5500
17       22.158567         7.7500          8.05000      227.5250
18       37.009071        26.2500         20.52500      164.8667
19       22.158567         7.7500          8.05000      227.5250
20       89.312500         8.0500         26.14375      512.3292
21       16.636387        13.0000         13.00000       32.5000
22       49.655020         7.2250          8.02920      211.3375
23       21.020160         7.8958         13.00000       82.1708
24       28.300000        21.0750         27.68750       36.7500
25       62.751509         0.0000         31.38750      227.5250
26       22.158567         7.7500          8.05000      227.5250
27       27.869496         7.8958         10.17080      263.0000
28       22.158567         7.7500          8.05000      227.5250
29       22.158567         7.7500          8.05000      227.5250
..             ...            ...              ...           ...
861      31.565621         7.9250          8.24165      262.3750
862      37.893067         7.8542         34.37500       76.7292
863      22.158567         7.7500          8.05000      227.5250
864      43.035690        13.0000         16.40000      263.0000
865      37.125646        13.0000         13.00000      227.5250
866      30.361339        13.0000         13.00000      211.5000
867      37.009071        26.2500         20.52500      164.8667
868      22.158567         7.7500          8.05000      227.5250
869      29.543330        11.1333         25.45000       81.8583
870      19.086806         7.8542          9.58125       78.8500
871      27.601389         7.2500         25.58750       52.5542
872      25.825553         7.8958         12.27500       90.0000
873      27.601389         7.2500         25.58750       52.5542
874      21.020160         7.8958         13.00000       82.1708
875      49.655020         7.2250          8.02920      211.3375
876       8.624173         7.8542          8.05000       15.7417
877      27.869496         7.8958         10.17080      263.0000
878      22.158567         7.7500          8.05000      227.5250
879      43.976025        26.5500         33.09790       83.1583
880      24.415765         7.7750          7.92500      151.5500
881      25.825553         7.8958         12.27500       90.0000
882      25.504781         7.2500          7.89580      151.5500
883      21.020160         7.8958         13.00000       82.1708
884      24.415765         7.7750          7.92500      151.5500
885      36.661900         7.9250         27.56250      110.8833
886      30.361339        13.0000         13.00000      211.5000
887      27.869496         7.8958         10.17080      263.0000
888      22.158567         7.7500          8.05000      227.5250
889      19.086806         7.8542          9.58125       78.8500
890      24.323378         7.9250         11.75000       76.2917

     Age_Fare_Min  Age_Fare_Count
0          7.1250              27
1          0.0000              11
2          7.7750              18
3          7.0500              18
4          7.0500              18
5          0.0000             177
6         14.0000               8
7         10.4625              10
8          6.9750              18
9          7.8542               6
10        11.1333              10
11        26.5500               5
12         4.0125              15
13         0.0000              14
14         7.8542               6
15        16.0000               2
16        10.4625              10
17         0.0000             177
18         7.7500              17
19         0.0000             177
20         7.0500              18
21         6.4958              15
22         7.2250               5
23         7.7958              25
24        21.0750               4
25         0.0000              11
26         0.0000             177
27         0.0000              25
28         0.0000             177
29         0.0000             177
..            ...             ...
861        7.2500              24
862        7.8542               9
863        0.0000             177
864        7.0500              30
865        7.5500              13
866        6.9750              18
867        7.7500              17
868        0.0000             177
869       11.1333              10
870        7.7750              18
871        7.2500               9
872        5.0000              15
873        7.2500               9
874        7.7958              25
875        7.2250               5
876        4.0125              15
877        0.0000              25
878        0.0000             177
879       26.5500               4
880        0.0000              23
881        5.0000              15
882        7.1250              27
883        7.7958              25
884        0.0000              23
885        0.0000              14
886        6.9750              18
887        0.0000              25
888        0.0000             177
889        7.7750              18
890        7.7500              18

[891 rows x 16 columns]
New Feature / LogisticRegression :  0.7901174805047331

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)