# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成計數編碼以及搭配邏輯斯迴歸的預測 (In[4], Out[4], In[5], Out[5]) 
- 仿造範例, 完成雜湊編碼, 以及計數編碼+雜湊編碼 搭配邏輯斯迴歸的預測 (In[6], Out[6], In[7], Out[7]) 
- 試著回答上述執行結果的觀察

# 作業1
* 參考範例，將鐵達尼的艙位代碼( 'Cabin' )欄位使用特徵雜湊 / 標籤編碼 / 目標均值編碼三種轉換後，  
與其他數值型欄位一起預估生存機率

In [71]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings 
warnings.filterwarnings('ignore')
data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df_train.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [56]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 承上題，三者比較效果何者最好?
Ans: 'Cabin'計數編碼 + 邏輯斯迴歸

In [57]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.780004837244799

   Name  Sex  Ticket  Cabin  Embarked
0   155    1     720    185         3
1   286    0     816    106         0
2   523    0     914    185         3
3   422    0      65     70         3
4    22    1     649    185         3

In [58]:
# 加上 'Cabin' 欄位的計數編碼
#count_df = df.groupby(['Cabin'])['Name'].agg({'Cabin_Count':'size'})
count_df = df.groupby(['Cabin'])['Name'].agg({'Cabin_Count':'size'}).reset_index()
df = pd.merge(df, count_df, on=['Cabin'], how='left')
count_df.sort_values(by=['Cabin_Count'], ascending=False).head(10)

print(df)

                                                   Name     Sex  \
0                               Braund, Mr. Owen Harris    male
1     Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                                Heikkinen, Miss. Laina  female
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                              Allen, Mr. William Henry    male
5                                      Moran, Mr. James    male
6                               McCarthy, Mr. Timothy J    male
7                        Palsson, Master. Gosta Leonard    male
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9                   Nasser, Mrs. Nicholas (Adele Achem)  female
10                      Sandstrom, Miss. Marguerite Rut  female
11                             Bonnell, Miss. Elizabeth  female
12                       Saundercock, Mr. William Henry    male
13                          Andersson, Mr. Anders Johan    male
14                 Vestrom, Miss. Hulda Amanda Adolfina  female
15                     Hewlett, Mrs. (Mary D Kingcome)   female
16                                 Rice, Master. Eugene    male
17                         Williams, Mr. Charles Eugene    male
18    Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19                              Masselmani, Mrs. Fatima  female
20                                 Fynney, Mr. Joseph J    male
21                                Beesley, Mr. Lawrence    male
22                          McGowan, Miss. Anna "Annie"  female
23                         Sloper, Mr. William Thompson    male
24                        Palsson, Miss. Torborg Danira  female
25    Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female
26                              Emir, Mr. Farred Chehab    male
27                       Fortune, Mr. Charles Alexander    male
28                        O'Dwyer, Miss. Ellen "Nellie"  female
29                                  Todoroff, Mr. Lalio    male
...                                                 ...     ...
1279                               Canavan, Mr. Patrick    male
1280                        Palsson, Master. Paul Folke    male
1281                         Payne, Mr. Vivian Ponsonby    male
1282     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female
1283                      Abbott, Master. Eugene Joseph    male
1284                               Gilbert, Mr. William    male
1285                           Kink-Heilmann, Mr. Anton    male
1286     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female
1287                               Colbert, Mr. Patrick    male
1288  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female
1289                     Larsson-Rondberg, Mr. Edvard A    male
1290                           Conlon, Mr. Thomas Henry    male
1291                            Bonnell, Miss. Caroline  female
1292                                    Gale, Mr. Harry    male
1293                     Gibson, Miss. Dorothy Winifred  female
1294                             Carrau, Mr. Jose Pedro    male
1295                       Frauenthal, Mr. Isaac Gerald    male
1296       Nourney, Mr. Alfred (Baron von Drachstedt")"    male
1297                          Ware, Mr. William Jeffery    male
1298                         Widener, Mr. George Dunton    male
1299                    Riordan, Miss. Johanna Hannah""  female
1300                          Peacock, Miss. Treasteall  female
1301                             Naughton, Miss. Hannah  female
1302    Minahan, Mrs. William Edward (Lillian E Thorpe)  female
1303                     Henriksson, Miss. Jenny Lovisa  female
1304                                 Spector, Mr. Woolf    male
1305                       Oliva y Ocana, Dona. Fermina  female
1306                       Saether, Mr. Simon Sivertsen    male
1307                                Ware, Mr. Frederick    male
1308                           Peter, Master. Michael J    male

                  Ticket        Cabin Embarked  Cabin_Count
0              A/5 21171         None        S         1014
1               PC 17599          C85        C            2
2       STON/O2. 3101282         None        S         1014
3                 113803         C123        S            2
4                 373450         None        S         1014
5                 330877         None        Q         1014
6                  17463          E46        S            2
7                 349909         None        S         1014
8                 347742         None        S         1014
9                 237736         None        C         1014
10               PP 9549           G6        S            5
11                113783         C103        S            1
12             A/5. 2151         None        S         1014
13                347082         None        S         1014
14                350406         None        S         1014
15                248706         None        S         1014
16                382652         None        Q         1014
17                244373         None        S         1014
18                345763         None        S         1014
19                  2649         None        C         1014
20                239865         None        S         1014
21                248698          D56        S            1
22                330923         None        Q         1014
23                113788           A6        S            1
24                349909         None        S         1014
25                347077         None        S         1014
26                  2631         None        C         1014
27                 19950  C23 C25 C27        S            6
28                330959         None        Q         1014
29                349216         None        S         1014
...                  ...          ...      ...          ...
1279              364858         None        Q         1014
1280              349909         None        S         1014
1281               12749          B24        S            1
1282            PC 17592          D28        S            2
1283           C.A. 2673         None        S         1014
1284          C.A. 30769         None        S         1014
1285              315153         None        S         1014
1286               13695          C31        S            2
1287              371109         None        Q         1014
1288               13567          B41        C            2
1289              347065         None        S         1014
1290               21332         None        Q         1014
1291               36928           C7        S            2
1292               28664         None        S         1014
1293              112378         None        C         1014
1294              113059         None        S         1014
1295               17765          D40        C            1
1296       SC/PARIS 2166          D38        C            1
1297               28666         None        S         1014
1298              113503          C80        C            2
1299              334915         None        Q         1014
1300  SOTON/O.Q. 3101315         None        S         1014
1301              365237         None        Q         1014
1302               19928          C78        Q            4
1303              347086         None        S         1014
1304           A.5. 3236         None        S         1014
1305            PC 17758         C105        C            1
1306  SOTON/O.Q. 3101262         None        S         1014
1307              359309         None        S         1014
1308                2668         None        C         1014

[1309 rows x 6 columns]

In [59]:
# 'Cabin'計數編碼 + 邏輯斯迴歸

df_temp = pd.DataFrame()
for c in object_features:
     df_temp[c] = LabelEncoder().fit_transform(df[c])
        
df_temp['Cabin_Count'] = df['Cabin_Count']
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7856230275549181

   Name  Sex  Ticket  Cabin  Embarked  Cabin_Count
0   155    1     720    185         3         1014
1   286    0     816    106         0            2
2   523    0     914    185         3         1014
3   422    0      65     70         3            2
4    22    1     649    185         3         1014

In [60]:
# 'Cabin'特徵雜湊 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
# 這邊的雜湊編碼, 是直接將 'Ticket' 的名稱放入雜湊函數的輸出數值, 為了要確定是緊密(dense)特徵, 因此除以10後看餘數
# 這邊的 10 是隨機選擇, 不一定要用 10, 同學可以自由選擇購小的數字試看看. 基本上效果都不會太好
df_temp['Cabin_hash'] = df['Cabin'].map(lambda x:hash(x) % 10)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7766277027307382

   Name  Sex  Ticket  Cabin  Embarked  Cabin_hash
0   155    1     720    185         3           7
1   286    0     816    106         0           5
2   523    0     914    185         3           7
3   422    0      65     70         3           5
4    22    1     649    185         3           7

In [61]:
# 'Cabin'計數編碼 + 'Cabin'特徵雜湊 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp['Cabin_Hash'] = df['Cabin'].map(lambda x:hash(x) % 10)
df_temp['Cabin_Count'] = df['Cabin_Count']
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7777829672950475

   Name  Sex  Ticket  Cabin  Embarked  Cabin_Hash  Cabin_Count
0   155    1     720    185         3           7         1014
1   286    0     816    106         0           5            2
2   523    0     914    185         3           7         1014
3   422    0      65     70         3           5            2
4    22    1     649    185         3           7         1014